.App {
  text-align: center;
  width: 50%;
  margin: auto;
  margin-top: 30vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  text-align: center;
  width: 50%;
  margin: auto;
  margin-top: 30vh;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

.container p {
  font-size: 1rem;
  margin: 0;
}

.container > em {
  font-size: .8rem;
}

.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: rgba(24,160,251,0.38);
  border-style: dashed;
  background-color: #fff;
  color: #0e4168;
  outline: none;
  transition: border .24s ease-in-out;
  min-height: 190px;
  line-height: 190px;
}
.dropzone:focus {
  border-color: #2196f3;
}

.dropzone.disabled {
  opacity: 0.6;
}
.loading {
  margin: 0;
}
.vidPlayer {
  height: 300px;
  width: auto;
}

.bigplaybutton {
  top: 20%;
}